
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <!-- include nav bar -->
  <% include templates/navbar.ejs%>
  <% include templates/footer.ejs%>
</body>
</html>
